[Unit]
Description=Set keyboard repeat rate

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=tty
StardardOutput=tty
ExecStart=/usr/bin/kbdrate --silent --delay 200 --rate 25

[Install]
WantedBy=multi-user.target
